body {

    background-color: darkgray;
}

header {
    background: black;
    font-family: 'Times New Roman', Times, serif;
    outline-style: double;
   outline-width:2px;
   outline-color: aqua;
 }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 25px;
    border: solid rgb(47, 255, 0) 10px;
    width: 900px;
    height: 1500px;

}

 h1 {
    color: aqua;
    margin: 6px;
    padding: 8px;
    font-size: 30px;
}
 .container nav {
    
        margin: 20px 20px;
        font-size: 25px;
        justify-content: space-between;

    }
.container nav a {
    color: aqua;
    margin: 2rem;
}


.bkgrdimg {
background-image: url(./assets/backGround.jpg);
height: 145px;
width: 100%;
margin-bottom: 3px;

}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 150px;
    border: solid rgb(255, 0, 0) 3px;
}

.h2-style {
    font-size: 35px;
    color: aqua;
    background-color: black;
    outline-style: double;
    outline-width: 5px;
    outline-color: aqua;
    display: inline-flex;
    flex-wrap: wrap;
    
}
 p { display: inline-flex;
    align-items: start;
    font-size: 15px;
    word-wrap: break-word;
    margin-top: 30px;
    color: aqua;
    background: black;
    border: solid aqua 3px;
    height: 25px;
   
}

.figure {
    display:flex;
    justify-content: space-between;
    gap: 3px;
}

.work{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 5px;
}


.header-locator {

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.flexbox-container {
width: auto;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
border: solid aqua 3px;
}


.flexbox-img1{
    background-image: url(./assets/placeholder1.jpg);
    width: 900px;
    height: 600px;
    outline: solid aqua 5px;
}

.flexbox-img2{

    background-image: url(./assets/placeholder2.jpg);
    width: 250px;
    height: 125px;
    outline: solid aqua 5px;
}

.flexbox-img3{

    background-image: url(./assets/placeholder3.jpg);
    width: 250px;
    height: 125px;
    outline: solid aqua 5px;
}
.flexbox-img4{

    background-image: url(./assets/placeholder4.jpg);
    width: 250px;
    height: 125px;
    outline: solid aqua 5px;
}
.flexbox-img5{

    background-image: url(./assets/placeholder5.jpg);
    width: 250px;
    height: 125px;
    outline: solid aqua 5px;
}

.imgCaption{
    font-size: 25px;
    color: aqua;
    background-color: black;
    text-align: center;
   
}

.justify-end {
    justify-content: end;
}

@media screen and (max-width: 792px) {

    .flexbox-img1{
        width: 400px;
        height: 600px;
    }
    .flexbox-img2 .flexbox-img3 .flexbox-img4 .flexbox-img5 {
        width:100px;
        height:200px;
    }

}