 header {

    display:flex;
    background: rgb(46, 26, 224);
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    
}

h1 {

    background: rgb(72, 192, 240);
    margin-left: 10px;
    font-size: 30px;

}

li {
    position: absolute;
    display: block;
    text-align: right;
    color: red;
    margin-right: 10px;

    
}

body {
    background: rgba(53, 53, 109, 0.527);
}